
.fio {
    white-space: nowrap;
    overflow: hidden;
    padding: 5px;
    text-overflow: ellipsis;
    text-align: center;
}
.fio:hover {
    overflow: visible;
}

.user-photo {
}

.user-photo:hover {
    box-shadow: 0 0 0 5px #d9d9d9;
    opacity: 0.95;
    /*background-color: black;*/
}


