
.fio {
    white-space: nowrap;
    overflow: hidden;
    padding: 5px;
    text-overflow: ellipsis;
    text-align: center;
}
.fio:hover {
    overflow: visible;
}

.user-photo {
    margin: auto !important;
}

.female .user-photo:hover {
    box-shadow: 0 0 0 4px rgba(253, 173, 186, 0.5);
    opacity: 0.85;
}

.male .user-photo:hover {
    box-shadow: 0 0 0 4px rgba(94, 163, 214, 0.49);
    opacity: 0.85;
}

